.container {
  display: flex !important;
  flex-direction: column;
  margin-top: 20px;
}

.behaviorBox{
  border-radius: 25px;
  border: 2px solid var(--color-primary);
  margin-bottom: 20px;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.behaviorTitle {
  text-align: center;
  font-weight: bold;
}

.paper{
  background-color: green;
  height: 140;
  width: 100
}

.probeEntry{
  /* border-radius: 10px;
  border: 2px solid var(--color-primary); */

  text-align: center;
  padding: 10px;

  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}

.checkbox {
  /* padding: 5px !important; */
  margin: 0 !important;

  height: 20px !important;
  width: 20px !important;
}
