.appBar {
    top: auto !important;
    bottom: 0;
    
}
.addButton {
    position: absolute;
    bottom: 30px  !important;
    right:  30px;
    
}

.chip{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.chipGrid {
    text-align: center;
}

.domainPaper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 25px;
}

.topMenu {
    margin-bottom: 10px;
}

.threeDotMenu {
    position: absolute;
    left: 85%;
    top: 15%
}