html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.vc_row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

input[type="file"] {
  
}
