
.inputField {
 margin-bottom: 20px !important;
}

.inputs {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 20px auto 20px auto;
}

@media screen and (min-width: 768px) {
  .inputs {
    padding-left: 20vw;
    padding-right: 20vw;
  }
} 

.parent {
  position: relative;
  margin-bottom: 20px;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

.imageInput {
  height: 0;
  width: 0;
  opacity: 0;
}

.imageInputLabel {
  width: 140px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  border: 2px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;

  color: white;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.imageInputLabel:hover {
  filter: drop-shadow(-3px 11px 44px rgba(0, 0, 0, 1));
}

