.buttonWrapper {
  text-align: center;
  margin-top: 20px;
}
.searchPage {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .studentSearchPage {
    padding-left: 15vw;
    padding-right: 15vw;
  }
}

.level {
  list-style-type: none;
  overflow: hidden;
  padding: 5px 0;
}
.levelItem {
  float: left;
}

.searchBox {
  margin-top: 20px !important;
}

.searchList {
  max-height: 75vh;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;

  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .seachList {
    max-height: none;
    overflow-y: visible;
  }
}

body .container { overflow-y: hidden; }
