.studentSearchPage {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center;
  flex-direction: column; */
  /* margin: auto;
  max-width: 960px; */
}

.button {
  background-color: "#0F5787";
  /* display: inline-block; */
  /* background: #000; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.level {
  list-style-type: none;
  overflow: hidden;
  padding: 5px 0;
}
.levelItem{
  float: left;
}

.searchBox {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}